<% content_for :head do %>
  <%= javascript_pack_tag 'visit_notes' %>
<% end %>

  <%= content_tag :div, 
    id: "visit-notes-form",
    data: {
      visit_note: visit_note.to_json,
      visit_note_words: visit_note.visit_note_words.to_json,
      patient_id: patient_id
    } do %>

  <div style="width:50%; margin: auto">
    <p>
      <label> Title </label>
      <input type="text" v-model="visit_note.title">
      <label> Body </label>
      <textarea v-model="visit_note.body" rows="5" cols="50"></textarea>
      <label> Progress Words <span style="color:grey"> -- currently not saving </span> </label>

    <% visit_note.visit_note_words.each_with_index do |word, index| %>
      <p> 
        <input disabled type="text" value='<%= word.name %>'>
        <input disabled size="5" max="5" type="number" value='<%= word.rating %>'> 
        <% if index == visit_note.visit_note_words.length - 1 %>
          <button disabled> + </button>
        <% end %>
      </p>
    <% end %>

      <p>
        <input disabled :value="percentage">
      </p>
    </p>

    <p style="text-align:center">
      <button id="quicksave" v-on:click="Submit(true)"> Quick Save </button>
      <button id="save" v-on:click="Submit()"> Save </button>
    </p>
  </div>
<% end %>

<style>
#quicksave {
  margin-left: 100px;
  height: 20px;
  border: none;
  border-radius: 2px;
  background-color: green;
  color: white;
}

#save {
  height: 20px;
  border: none;
  border-radius: 2px;
  background-color: grey;
  color:white;
}
</style>