<% content_for :head do %>
  <%= javascript_pack_tag 'visit_notes' %>
<% end %>

  <%= content_tag :div, 
    id: "visit-notes-form",
    data: {
      visit_note: visit_note.to_json,
      visit_note_words: visit_note.visit_note_words.to_json,
      patient_id: patient_id
    } do %>

  <div id="outer">
    <div id="inner">
      <p>
        <div>
          <label> Title </label>
          <input type="text" v-model="visit_note.title">
          <label class="switch">
            <input v-model="autosave" type="checkbox">
            <div> <span class="slider round">  </span>  Autosave </div>
            <span>  </span>
          </label>
        </div>
        
        <textarea v-model="visit_note.body" rows="5" cols="50"></textarea>
        <label> Progress Words <span style="color:grey"> -- currently not saving </span> </label>

      <% visit_note.visit_note_words.each_with_index do |word, index| %>
        <p> 
          <input disabled type="text" size="2" value='<%= word.name %>'>
          <input disabled size="2" max="5" type="number" value='<%= word.rating %>'> 
          <% if index == visit_note.visit_note_words.length - 1 %>
            <button disabled> + </button>
          <% end %>
        </p>
      <% end %>

        <p>
          Progress Word Total <input :style="progressWordClass" disabled size="2" :value="percentage">
        </p>
      </p>
    </div>
      <div id="buttons">
        <button class="buttons" id="replaceSH" v-on:click="replaceShortHand()"> Find and Replace Shorthand </button>
        <button class="buttons" id="quicksave" v-on:click="Submit(true)"> Quick Save </button>
        <button class="buttons" id="save" v-on:click="Submit()"> Save </button>
      </div>
  </div>
<% end %>

<style>

#outer { 
  background-color: grey; 
  text-align:center; 
  width:50%; 
  margin: auto
}

#inner {
  width: 80%;
  margin: auto;
  border: 1px black dotted;
}

#buttons{ 
  margin: 15px;
}

.buttons {
  height: 25px;
  border: none;
  border-radius: 2px;
}

#quicksave {
  margin-right: 100px;
  background-color: green;
  color: white;
}

#save {
  background-color: grey;
  color:white;
}

#replaceSH {
  background-color: blue;
  color:White;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkite-transition: .5s;
  transition: .5s;
}

input:checked + .slider {
  background-color: #2195F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translate(13px);
  transform: translateX(13px)
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>